.checkOut{
    width: 100%;
    /* height: 62vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.checkOut__h3{
    font-size: 25px;
    font-family: 'Noto Serif', serif;
    font-weight: 600;
}

.checkOut__content{
    width: 100%;
    margin-top: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 300px);
    column-gap: 25px;
}

.checkOut__content--h3{
    margin: 20px;
    font-size: 30px;
    font-family: 'Noto Serif', serif;
}

.checkOut__h3-list{
    font-size: 30px;
}

.checkOut__content--items{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.checkOut__content--elements{
    display: flex;
    flex-direction: column  ;
}

.checkOut__content--h4{
    font-size: 20px;
    font-family: 'Noto Serif', serif;
}

.checkOut__content--price{
    font-size: 18px;
    font-family: 'Noto Serif', serif;
    color: #33A8A8;
}

.checkOut__content--image{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.checkOut__content--button{
    margin: 20px;
    padding: 10px;
    border: none;
    color: white;
    background-color: black;
}

.checkOut__content--button:hover{
    border: 1px solid black;
    color: black;
    background-color: white;
}

.checkOut__total{
    height: 22vh;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.checkOut__total--h3{
    font-size: 30px;
    font-family: 'Noto Serif', serif;
}

.checkOut__total--price{
    color: #33A8A8;
}


.checkOut__total--continue{
    padding: 10px;
    border: none;
    color: white;
    background-color: #33A8A8;
}

.checkOut__total--continue:hover{
    border: 1px solid black;
    color: black;
    background-color: white;
}