.succes{
    width: 100%;
    height: 64vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.succes__content{
    height: 42vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.succes__content--info{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.succes__content--title{
    font-size: 30px;
    font-weight: 100;
    font-family: 'Noto Serif', serif;
}

.succes__content--name{
    color: #33A8A8;
    font-weight: 600;
}

.succes__content--p{
    font-size: 30px;
    font-family: 'Noto Serif', serif;
}

.succes__content--address{
    font-size: 30px;
    font-weight: 600;
    color: #33A8A8;
}